html{
    font-family: 'Pacifico', cursive;
    box-sizing: border-box;
}

/* Pomodoro Page */

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
:root{
    --pomodoro: rgb(20,44,124);
    --shortBreak: rgb(117, 154, 226);
    --longBreak: rgb(60, 120, 240);
}

body{
    background-color: var(--pomodoro);
    transition: background-color 1s ease;
    font-family: 'Calibri';
    user-select: none;
}

progress{
    border-radius: 3px;
    width: 100%;
    height: 12px;
    position: fixed;
    top: 0;
    color: rgba(230, 228, 232, 0.788);
}

progress::-webkit-progress-bar {
    background-color: rgba(235, 215, 215, 0.1);;
}

progress::-webkit-progress-value {
    background-color: rgba(230, 228, 232, 0.788);
}

img {
    border-radius: 30px;
    padding: 60px;
    width: 24%;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    color: rgba(230, 228, 232, 0.788);
  }

.clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
}

.mode-button {
    font-size: 18px;
    height: 27px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: rgba(230, 228, 232, 0.788);
    border: 1px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
}

.mode-button.active {
    border-color: rgba(230, 228, 232, 0.788);
}

.main-button {
    cursor: pointer;
    box-shadow: rgba(230, 228, 232, 0.61) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
    color: rgb(20,44,124);
    font-weight: bold;
    width: 200px;
    background-color: rgba(230, 228, 232, 0.788);
    border-width: initial;
    border-style: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
    outline: none;
}

.main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
}

.report-button {
    cursor: pointer;
    box-shadow: rgba(230, 228, 232, 0.61) 0px 6px 0px;
    font-size: 24px;
    width: 60px;
    height: 55px;
    text-transform: capitalize;
    color: rgb(20,44,124);
    font-weight: bold;
    width: 200px;
    background-color: rgba(230, 228, 232, 0.788);
    border-width: initial;
    border-style: none;
    margin: 18px;
    padding: 12px;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
    text-align: center;
    
    top:9%;
    left:75%;
    position: absolute;
}

.stats-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
}

.hidden {
    display: none;
  }
  
@media screen and (max-width: 550px) {
.clock {
    font-size: 8rem;
}
}

/* Report Page */
h1{
    display: block;
    font-size: 45pt;
    font-weight: bold;
    font-family: 'Calibri';
    color: rgba(230, 228, 232, 0.788);
    top:7.5%;
    left:39%;
    position: absolute;

    text-transform: uppercase;

}

.icon{
    border-radius: 30px;
    padding: 60px;
    width: 12%;

    left:72%;
    position: absolute;
    
}

h2{
    display: block;
    font-size: 36pt;
    font-weight: bold;
    font-family: 'Calibri';
    color: rgba(230, 228, 232, 0.788);
    text-transform: capitalize;
    top:15%;
    left:4.2%;
    position: relative;

}