html{
    font-family: 'Pacifico', cursive;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
:root{
    --pomodoro: rgb(20,44,124);
    --shortBreak: rgb(230,228,232);
    --longBreak: rgb(49,115,248);
}

body{
    background-color: var(--pomodoro);
    transition: background-color 1s ease;
    font-family: 'Calibri';
    user-select: none;
}

progress{
border-radius: 3px;
width: 100%;
height: 12px;
position: fixed;
top: 0;
}

progress::-webkit-progress-bar {
background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
background-color: #fff;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
  }

.clock {
margin-top: 50px;
margin-bottom: 30px;
font-size: 15rem;
line-height: 1;
display: flex;
align-items: center;
font-family: arial, sans-serif;
}